{% extends 'base.html' %} {% block title %}
<title>Posts Page</title>{% endblock title %} {% block content %}
<h1 class="container">Posts</h1>

{% if pages %}

{% for post in pages.items %}
<div class="card container">
    <div class="card-header bg-primary text-white">
        {{post.created.date()}}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.body}}</p>
        <a href="{{ url_for('posts.blog_post_detail',slug = post.slug)}}" class="btn btn-primary">Read More</a>
        <a href="{{ url_for('posts.update_post',slug = post.slug)}}" class="btn btn-primary">Update</a>
        
    </div>
    {% if post.tags.count() %}
    <div class="card-footer bg-white">
        {% for tag in post.tags %}
        <a href="{{ url_for('posts.tag_detail',slug=tag.title) }}" class="badge badge-info bg-primary text-decoration-none">{{tag.title}}</a> {% endfor %}
    </div>
    {% endif %}
</div>
{% endfor %} 


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if not pages.has_prev %} disabled{% endif %}">
      <a class="page-link" href="./?page={{pages.prev_num}}" tabindex="-1">Previous</a>
    </li>
    {% for page in pages.iter_pages() %}
    <li class="page-item {% if page == pages.page %}active{% endif %}"><a class="page-link" href="./?page={{page}}">{{page}}</a></li>
    {% endfor %}
    <li class="page-item {% if not pages.has_next %}disabled{% endif %}">
      <a class="page-link" href="./?page={{pages.next_num}}">Next</a>
    </li>
  </ul>
</nav>

{% else %}


{% for post in posts %}
<div class="card container">
    <div class="card-header bg-primary text-white">
        {{post.created.date()}}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.body}}</p>
        <a href="{{ url_for('posts.blog_post_detail',slug = post.slug)}}" class="btn btn-primary">Read More</a>
    </div>
    {% if post.tags.count() %}
    <div class="card-footer bg-white">
        {% for tag in post.tags %}
        <a href="{{ url_for('posts.tag_detail',slug=tag.title) }}" class="badge badge-info bg-primary text-decoration-none">{{tag.title}}</a> {% endfor %}
    </div>
    {% endif %}
</div>
{% endfor %} 

{% endif %}


{% endblock content %}